body {
  background-color: beige;
}
header {
  text-align: center;
  color: rgba(200, 0, 0, 0.9);
}
p {
  text-align: center;
}
#main {
  display: block;
  text-align: center;
}
img {
  width: 200px;
  height: 150px;
  margin: 30px;
  border: thin red solid;
  cursor: pointer;
}

canvas* {
  color: red;
}
