body {

}
header {
  text-align: center;
  color: red;
}
p {
  text-align: center;
}
img {
  display: block;
  float: left;
  text-align:center;
  width: 140px;
  height: 100px;
  margin-left: 200px;
}

ul {
  text-align: center;
  margin-top: 100px;
  list-style-type: none;
}

#main {

}
